trigger:
- main

variables:
  azureSubscription: 'Azure subscription 1 (b57ed439-8d04-4717-b1b2-4a0326fd41e8)'
  webAppName: 'Employeeform'

stages:
- stage: Build
  displayName: Build
  jobs:
  - job: BuildJob
    pool:
      name: self-hosted-pool


    steps:
    - task: Maven@4
      displayName: Build with Maven
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'mvn clean package -DskipTests'
        jdkVersionOption: '1.17'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'

    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: '**/target/*.?(jar|war)'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - publish: $(Build.ArtifactStagingDirectory)
      artifact: drop

- stage: Deploy
  displayName: Deploy
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: DeployJob
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: AzureWebApp@1
      displayName: Deploy to Azure Web App
      inputs:
        azureSubscription: $(azureSubscription)
        appType: webAppLinux
        appName: $(webAppName)
        package: '$(Pipeline.Workspace)/drop/**/*.?(jar|war)'
