trigger:
- main

variables:
  azureSubscription: 'Azure subscription 1 (b57ed439-8d04-4717-b1b2-4a0326fd41e8)'
  webAppName: 'Employeeform'

stages:
  - stage: Build
    displayName: 'Build Stage'
    jobs:
      - job: BuildJob
        displayName: 'Build with Maven'
        pool:
          name: self-hosted-pool

        steps:
          - checkout: self

          - task: Maven@4
            displayName: 'Maven Clean Package'
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'clean package -DskipTests'
              jdkVersionOption: '1.17'
              publishJUnitResults: false

          - task: CopyFiles@2
            displayName: 'Copy Artifacts'
            inputs:
              SourceFolder: '$(System.DefaultWorkingDirectory)'
              Contents: '**/target/*.?(jar|war)'
              TargetFolder: '$(Build.ArtifactStagingDirectory)'

          - publish: $(Build.ArtifactStagingDirectory)
            artifact: drop

  - stage: Deploy
    displayName: 'Deploy Stage'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployJob
        displayName: 'Deploy to Azure Web App'
        environment: 'Employeeform-env'
        pool:
          name: self-hosted-pool

        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop

                - task: AzureWebApp@1
                  displayName: 'Deploy to Azure Web App Linux'
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appType: webAppLinux
                    appName: $(webAppName)
                    package: '$(Pipeline.Workspace)/drop/**/*.?(jar|war)'
