spring:
  datasource:
    url: jdbc:sqlserver://uthaya.database.windows.net:1433;database=Employeeform;encrypt=true;trustServerCertificate=false;
    username: uthaya
    password: Database@123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    database-platform: org.hibernate.dialect.SQLServerDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: ${PORT:9191}
